# Speech reproduce
pyttsx3~=2.90

# Speech receive
SpeechRecognition~=3.10.0
PyAudio==0.2.13
vosk~=0.3.45

# Wake word detection
pvporcupine~=2.2.1
pvrecorder~=1.1.1

# Recognizer
scikit-learn~=1.3.0

# Open app
translate~=3.6.1
appopener~=1.7

# Volume control
comtypes~=1.2.0
pycaw~=20230407

# Screen brightness control
screen-brightness-control~=0.21.0